{% extends 'layouts/base-fullscreen.html' %}
{% load i18n static admin_material %}

{% block content %}

{% include 'includes/navigation-fullscreen.html' %}

<main class="main-content  mt-0">
    <section>
        <div class="page-header min-vh-100">
            <div class="container">
                <div class="row">
                    {% if not request.user.has_change_password %}
                    <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                        <div class="position-relative bg-light h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center">
                            <h4 class="text-dark">Bonjour !</h4>
                            <p class="text-dark">Il semble que vous vous connectiez pour la première fois. Pour des
                                raisons de sécurité, nous vous recommandons de changer votre mot de passe dès
                                maintenant.</p>
                        </div>
                    </div>
                    {% else %}
                    <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                        <div class="position-relative bg-gradient-primary h-100 m-3 px-7 border-radius-lg d-flex flex-column justify-content-center"
                             style="background-image: url('{% static 'img/illustrations/illustration-signup.jpg' %}'); background-size: cover;">
                        </div>
                    </div>
                    {% endif %}

                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
                        <div class="card card-plain">
                            {% if messages %}
                            {% for message in messages %}
                            <div id="alertMessage" class="alert alert-secondary alert-dismissible fade show text-white"
                                 role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                                        style="background-color: rgba(255, 255, 255, 0.5);">
                                    <span aria-hidden="true"><i class="fas fa-times text-white"></i></span>
                                </button>
                            </div>
                            {% endfor %}
                            {% endif %}
                            <div class="card-header">
                                <h4 class="font-weight-bolder">Changer le mot de passe</h4>
                                <p class="mb-0">
                                    {% if msg %}
                                    <span class="text-danger">{{ msg | safe }}</span>
                                    {% else %}
                                    Saisissez correctement votre ancien mot de passe pour modifier votre mot de passe.
                                    {% endif %}
                                </p>
                            </div>

                            {% if success %}
                            <div class="card-body">
                                <div class="text-center">
                                    <a href="{% url 'login' %}"
                                       class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Sign IN</a>
                                </div>
                            </div>
                            {% else %}
                            <div class="card-body">
                                <form role="form" method="post" action="">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <div class="input-group input-group-outline mb-3">
                                        {{ field }}
                                    </div>
                                    <span class="text-danger">{{ field.errors }}</span>
                                    {% endfor %}
                                    <div class="text-center">
                                        <button type="submit" name="register"
                                                class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Change
                                        </button>
                                    </div>
                                </form>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'includes/footer-fullscreen.html' %}

{% endblock content %}