{% extends 'layouts/base.html' %}

{% load static i18n %}


{% block title %} Ajouter un projet {% endblock title %}


{% block content %}
<div class="container mt-5">
    {% if messages %}
    {% for message in messages %}
    <div id="alertMessage" class="alert alert-secondary alert-dismissible fade show text-white" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"
                style="background-color: rgba(255, 255, 255, 0.5);">
            <span aria-hidden="true"><i class="fas fa-times text-white"></i></span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
        <div>
            <a href="{% url 'detail-projet' project.id_projet %}" class="btn btn-secondary">Go Back</a>
        </div>
        <div class="col">
            <h3>Tâches du modèle {{ model.nom }}</h3>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date Achèvement</th>
                    <th scope="col">Achevée</th>
                    {% if is_chef_projet or request.user.is_superuser %}
                    <th scope="col">Action</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for tache in model.tache_set.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ tache.description }}</td>
                    <td>{{ tache.date_achevement|date:"d F Y" }}</td>
                    <td>
                        {% if tache.acheve %}
                        <img src="{% static 'img/true.png' %}" alt="True"
                             style="max-width: 15px; height: auto; margin-left:30px;">
                        {% else %}
                        <img src="{% static 'img/false.png' %}" alt="False"
                             style="max-width: 15px; height: auto; margin-left:30px;">
                        {% endif %}
                    </td>
                    {% if is_chef_projet or request.user.is_superuser%}
                    <td>
                        <a href="{% url 'modify-task' model.id tache.id %}" class="btn btn-secondary">Modifier</a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_chef_projet or request.user.is_superuser %}
            <a href="{% url 'create-task' model.id %}" class="btn btn-success">Créer une nouvelle tâche</a>
            {% endif %}

            <!-- Affichage des commentaires de l'utilisateur -->
            <div class="card mt-5">
                {% if commentaires %}
                <div class="card-header">
                    Vos commentaires
                </div>
                {% endif %}
                <div class="card-body">
                    {% for commentaire in commentaires %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <p class="card-text">{{ commentaire.contenu }}</p>
                            <p class="card-text text-muted">@{{ commentaire.creator }}</p>
                        </div>
                    </div>
                    {% empty %}
                        {% if not is_chef_projet or not request.user.is_authenticated %}
                            <p class="card-text">Vos commentaires apparaîtront ici une fois ajoutés.</p>
                        {% else %}
                            <p class="card-text">Vous n'avez aucun commentaire pour le moment</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% if not is_chef_projet or not request.user.is_authenticated %}
            <!-- Formulaire pour laisser un commentaire -->
            <div class="card mt-3">
                <div class="card-header">
                    Laisser un commentaire
                </div>
                <div class="card-body">
                    <form action="{% url 'ajouter_commentaire' model.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="model_id" value="{{ model.id }}">
                        <div class="mb-3">
                            <label for="commentaire" class="form-label">Votre commentaire :</label>
                            <textarea class="form-control border px-2" name="contenu" id="commentaire" rows="5"
                                      required></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Publier</button>
                    </form>
                </div>
            </div>

            {% else %}
            {% if commentaires %}
            <a href="#" class="btn btn-success mt-2">Repondre</a>
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>
{% endblock content %}
